
  <div class="container">
    <p-table [value]="userStore.users()" [paginator]="true" [rows]="5" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>
            <p-button pButton type="button" icon="pi pi-pencil" (click)="showEditDialog(user)" label="Edit"></p-button>
            <p-button pButton type="button" icon="pi pi-trash" (click)="userStore.deleteUser(user.id)" label="Delete"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-button pButton type="button" icon="pi pi-plus" label="Add User" (click)="showAddDialog()"></p-button>

    <p-dialog [(visible)]="state.isDialogVisible()" [modal]="true" [closable]="false" header="{{ state.dialogTitle }}">
      <form [formGroup]="state.userForm()" (ngSubmit)="userStore.submit()">
        <div class="p-fluid">
          <div class="field">
            <label for="name">Name</label>
            <input id="name" type="text" formControlName="name" pInputText />
          </div>
          <div class="field">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" pInputText />
          </div>
        </div>
        <p-footer>
          <p-button pButton type="submit" icon="pi pi-check" label="Save" [disabled]="state.userForm.invalid()"></p-button>
          <p-button pButton type="button" icon="pi pi-times" label="Cancel" (click)="hideDialog()"></p-button>
        </p-footer>
      </form>
    </p-dialog>
  </div>
